<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        投稿詳細
    </title>

</head>

<body>

    <h1>投稿詳細</h1>

    <hr>

    <!-- 投稿内容 -->
    <h2 th:text="${post.content}"></h2>
    <p>
        投稿者:
        <span th:text="${post.user.name}"></span>
    </p>

    <br>

    <!-- 画像 -->
    <div th:if="${post.imagePath != null
                 and !post.imagePath.isEmpty()}">

        <img th:src=
             "@{/uploads/{img}
             (img=${post.imagePath})}"

             width="300">

    </div>

    <br>

    <!-- 緯度 -->
    <div>

        緯度:

        <span
        th:text="${post.latitude}">
        </span>

    </div>

    <br>

    <!-- 経度 -->
    <div>

        経度:

        <span
        th:text="${post.longitude}">
        </span>

    </div>

    <br>

    <!-- 投稿日時 -->
    <div>
        投稿日時:
        <span th:text="${#temporals.format(post.createdAt,'yyyy/MM/dd HH:mm')}"></span>
    </div>

    <div>👍
        <span
            th:text="${post.likes}">
        </span>

    </div>

    <br>

    <form
        action="/like"
        method="post">

        <input
            type="hidden"
            name="id"
            th:value="${post.id}">

        <button
            type="submit">

            いいね

        </button>

    </form>

    <br>

    <hr>

<h3>

    コメント

</h3>

<!-- コメント入力 -->
<form
    action="/comment"
    method="post">

    <!-- 投稿ID保持 -->
    <input
        type="hidden"
        name="postId"
        th:value="${post.id}">

    <!-- コメント内容 -->
    <input
        type="text"
        name="content"
        placeholder="コメント入力">

    <button
        type="submit">

        投稿

    </button>

</form>

<br>
    <!-- ========================= -->
    <!-- コメント一覧 -->
    <!-- ========================= -->
    <div th:each="comment : ${comments}">

        <!-- コメント投稿者 -->
        <div th:if="${comment.user != null}">

            <small>

                投稿者 :
                <span th:text="${comment.user.name}"></span>

            </small>

        </div>

        <!-- コメント内容 -->
        <div>

            <b th:text="${comment.content}">
            </b>

        </div>

        <!-- コメント日時 -->
        <small th:text=
            "${#temporals.format(
            comment.createdAt,
            'yyyy/MM/dd HH:mm')}">

        </small>

        <br><br>

        <!-- 自分のコメントのみ削除表示 -->
        <div th:if="${comment.user != null and loginUser.id == comment.user.id}">

            <form action="/comment/delete"
                method="post">

                <input type="hidden"
                    name="commentId"
                    th:value="${comment.id}">

                <input type="hidden"
                    name="postId"
                    th:value="${post.id}">

                <button type="submit">
                    削除
                </button>
            </form>

        </div>
    <hr>
</div>

    <br><br>

    <!-- 編集 -->
    <a th:href=
       "@{/edit(id=${post.id})}">

        編集

    </a>

    <br><br>

    <!-- 削除 -->
    <form action="/delete"
          method="post">

        <input
            type="hidden"
            name="id"
            th:value="${post.id}">

        <button type="submit">

            削除

        </button>

    </form>

    <br>

    <!-- 戻る -->
    <a href="/">

        一覧へ戻る

    </a>

</body>

</html>