<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Travel Map</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1>Travel Map</h1>

    <div>
        総投稿数:
        <span th:text="${postCount}">
        </span>
        件
    </div>

    <br>

    <div>
        訪問場所数:
        <span th:text="${placeCount}">
        </span>
        件
    </div>

    <br>
    <!-- ========================= -->
    <!-- 検索フォーム -->
    <!-- ========================= -->
    <form action="/search"
        method="get">

       <input type="text"
       name="keyword"
       th:value="${keyword}"
       placeholder="国名・旅行先を入力">

        <button type="submit">検索</button>

        <button type="button"
                onclick="location.href='/'">全件表示</button>
    </form>

    <br>

<div id="map"></div>

<form action="/posts"
      method="post"
      th:object="${post}"
      enctype="multipart/form-data">

    <div>
        <label>投稿内容</label>
        <input type="text" th:field="*{content}" placeholder="旅行先を入力">
    </div>

    <br>

    <div>
        <label>画像選択</label>
        <input type="file" name="image" accept="image/*">
    </div>

    <br>

    <div>
            <label>緯度</label>
            <input type="text"
                    id="latitude"
                    name="latitude"
                    readonly>
        </div>

        <br>

        <div>
            <label>経度</label>
            <input type="text"
                    id="longitude"
                    name="longitude"
                    readonly>
        </div>

    <br>

    <button type="submit">投稿する</button>

</form>

<hr>

<h2>投稿一覧</h2>

<div th:each="post : ${posts}">

    <b th:text="${post.content}"></b><br>

    <div th:if="${post.imagePath != null and !post.imagePath.isEmpty()}">
        <img th:src="@{/uploads/{img}(img=${post.imagePath})}" width="250">
    </div>

    緯度: <span th:text="${post.latitude}"></span><br>
    経度: <span th:text="${post.longitude}"></span><br>
    投稿日時: <span th:text="${post.createdAt}"></span><br>

    <form th:action="@{/edit}" method="get" style="display:inline">
        <input type="hidden" name="id" th:value="${post.id}">
        <button type="submit">編集</button>
    </form>

    <form action="/delete" method="post" style="display:inline">
        <input type="hidden" name="id" th:value="${post.id}">
        <button type="submit">削除</button>
    </form>

    <hr>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script th:inline="javascript">
const posts = /*[[${posts}]]*/ [];
</script>

<script src="/js/map.js"></script>

</body>
</html>